@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@keyframes float-hover {
	50% {
		transform: translateY(-6px);
	}

	100% {
		transform: translateY(-16px);
	}
}

@keyframes float-hover-shadow {
	0% {
		transform: translateY(12px);
		opacity: 0.4;
	}

	50% {
		transform: translateY(6px);
		opacity: 1;
	}

	100% {
		transform: translateY(12px);
		opacity: 0.4;
	}
}