@keyframes neon-border-glitch {
    0% {
      border: 2px solid var(--neon-main);
      box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    }
    
    50% {
      border: 2px solid var(--neon-main-glitch);  
      box-shadow: 0px 0px 25px 5px var(--neon-shadow-glitch), inset 0px 0px 25px 5px var(--neon-shadow-glitch);  
    }
    
    55% {
      border: 2px solid var(--neon-main);
      box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    }
    
    100% {
      border: 2px solid var(--neon-main);
      box-shadow: 0px 0px 25px 10px var(--neon-shadow), inset 0px 0px 25px 10px var(--neon-shadow);
    }
  }
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes hover {
	50% {
		transform: translateY(-3px);
	}

	100% {
		transform: translateY(-6px);
	}
}

@keyframes hover-shadow {
	0% {
		transform: translateY(6px);
		opacity: 0.4;
	}

	50% {
		transform: translateY(3px);
		opacity: 1;
	}

	100% {
		transform: translateY(6px);
		opacity: 0.4;
	}
}